<% if(merchant){%>
    <% include business_settings.ejs %>
    <div class="col-sm-12 col-lg-9 col-md-9">
            <div class="card col-12">
               
                    <div class="card-body  ">
                        
                       <div class="form">
                           <div class="row col">
                               <div class="col-4">
                                  Date From <input type="date" class="filter" id="from-date" />
                               </div>
                               <div class="col-4">
                                  Date To <input type="date" class="filter" id="to-date" />
                               </div>
                               <div class="col-4" style="    margin-top: 1em;">
                                    <input type="button" class="btn btnformmpay downloadTransaction" value="Export CSV"/>
                                 </div>
                           </div>
                       </div>
                    </div> 
                   
                </div>
        <div class="card">
                <div class="card-header"><%= merchant.merchant_name %> (<%= merchant.merchant_domainurl %>)</div>
                <div class="card-body">
                
                       
                        <div class="table-responsive">
                                <table id="ownbusinessTable" class="table table-striped w-100 d-block d-md-table">
                     
                       <thead>
                            <th>Transaction ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Details</th>
                       </thead>
                       <tbody>
                           
                       </tbody>
                   </table></div>
                </div> 
               
            </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
                ownbusinessTable ="";
                ownbusinessTable = $('#ownbusinessTable').dataTable( {
                "bProcessing": true,
                "bServerSide": true,				
                "iDisplayLength": 10,
                "sAjaxSource": '/admin/transactionlog/getAlltransactionlogList_foreachMerchant',				
                //"sPaginationType": "two_button",
                "fnServerParams": function ( aoData ) {
                    aoData.push( { "name": "merchant_id", "value": "<%= merchant.merchant_id%>" } ,
                    { "name": "from_date", "value": $('#from-date').val() },
                    {"name": "to_date", "value": $('#to-date').val()});
                },
                "aaSorting": [[ 1, "desc" ]],				
                "aoColumnDefs": [            
                    {
                        "bSortable": false,
                        "aTargets": [-1],
                        "mData": null,						
                        "mRender": function (data, type, full) {
                        var str = "<button type='button' class='btntransactiondetail_formerchant btn btnformmpay' data-id='"+data[4]+"'>Show</button>"
                            return str;
                                    
                        }
                    }
        
                    ]
        
                });
                $('.filter').change(function (e) {
                    ownbusinessTable.fnDraw();
                });
                $('.downloadTransaction').click(function(e){
            e.preventDefault();
            var obj = {
                fromdate : $('#from-date').val(),
                todate : $('#to-date').val(),
                merchant_id : "<%= merchant.merchant_id%>"
            }
           
            $.post('/admin/transactionlog/downloadtransaction_formerchant',obj,function(resp){
                if(resp.status == 500){
                    myCustomAlert(resp.text);
                }else{
                    myCustomAlert(resp.text);
                    var result = resp.data;
                    
                    var headers = {
                        mer_tran_log_v_id: 'Transaction ID'.replace(/,/g, ''), // remove commas to avoid errors
                        mer_tran_date: "Transactin Date".replace(/,/g, ''),
                        mer_tran_type: "Transaction Type".replace(/,/g, ''),
                        loginaccount: "Name".replace(/,/g, ''),
                        mer_tran_status: "Transaction Status".replace(/,/g, ''),
                        amount: "Amount",
                       
                    };

                    itemsNotFormatted = resp.data;

                    var itemsFormatted = [];

                    // format the data
                    itemsNotFormatted.forEach((item) => {
                        itemsFormatted.push({
                            mm_tran_log_v_id: item.mer_tran_log_v_id.replace(/,/g, ''), // remove commas to avoid errors
                            mm_tran_date: item.mer_tran_date.replace(/,/g, ''),
                            mer_tran_type: item.mer_tran_type.replace(/,/g, ''),
                            loginaccount: item.loginaccount.replace(/,/g, ''),
                            mer_tran_status: item.mer_tran_status.replace(/,/g, ''),
                            amount: item.amount,
                            
                        });
                    });

                    var fileTitle = 'Transaction log of <%=  merchant.merchant_name %>'; // or 'my-unique-title'

                    exportCSVFile(headers, itemsFormatted, fileTitle);
                } 
            });
        });
    
        
       
                  
            });

            
        </script>
        
<%}%>
