<table class="table table-bordered">
    <tbody>
        <tr>
            <td class="td-label">Transaction ID</td>
            <td><%= transaction.mmpay_tran_v_id %></td>
        </tr>
        <tr>
            <td class="td-label">Date</td>
            <td><%= transaction.mm_tran_date %></td>
        </tr>
        <tr>
            <td class="td-label">Transaction Type</td>
            <td><%= transaction.mm_tran_type %></td>
        </tr>
        <tr>
            <td class="td-label">Name</td>
            <td><%= transaction.servicename %></td>
        </tr>
        <tr>
            <td class="td-label">Transaction Status</td>
            <td><%= transaction.mm_tran_status %></td>
        </tr>
        <tr>
            <td class="td-label">Transaction Amount</td>
            <td><%= transaction.amount %></td>
        </tr>
        
    </tbody>
</table>
